<div id="content" #content>
  <div class="card">
    <div class="alert alert-info">
        <strong>Convert template to pdf</strong>
    </div>
    <div>
      <input type="button" value="CPTURE" (click)="captureScreen()"/>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <table id="contentToConvert" class="table table-striped">
      <thead>
        <tr>
          <th>Column1</th>
          <th>Column2</th>
          <th>Column3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1</td>
          <td>Row 1</td>
          <td>Row 1</td>
        </tr>
        <tr>
          <td>Row 2</td>
          <td>Row 2</td>
          <td>Row 2</td>
        </tr>
        <tr>
          <td>Row 3</td>
          <td>Row 3</td>
          <td>Row 3</td>
        </tr>
        <tr>
          <td>Row 4</td>
          <td>Row 4</td>
          <td>Row 4</td>
        </tr>
        <tr>
          <td>Row 5</td>
          <td>Row 5</td>
          <td>Row 5</td>
        </tr>
        <tr>
          <td>Row 6</td>
          <td>Row 6</td>
          <td>Row 6</td>
        </tr>
        <tr>
          <td>Row 7</td>
          <td>Row 7</td>
          <td>Row 7</td>
        </tr>
        <tr>
          <td>Row 8</td>
          <td>Row 8</td>
          <td>Row 8</td>
        </tr>
        <tr>
          <td>Row 9</td>
          <td>Row 9</td>
          <td>Row 9</td>
        </tr>
        <tr>
          <td>Row 10</td>
          <td>Row 10</td>
          <td>Row 10</td>
        </tr>
        <tr>
          <td>Row 11</td>
          <td>Row 11</td>
          <td>Row 11</td>
        </tr>
        <tr>
          <td>Row 12</td>
          <td>Row 12</td>
          <td>Row 12</td>
        </tr>
        <tr>
          <td>Row 13</td>
          <td>Row 13</td>
          <td>Row 13</td>
        </tr>
        <tr>
          <td>Row 14</td>
          <td>Row 14</td>
          <td>Row 14</td>
        </tr>
        <tr>
          <td>Row 15</td>
          <td>Row 15</td>
          <td>Row 15</td>
        </tr>
        <tr>
          <td>Row 16</td>
          <td>Row 16</td>
          <td>Row 16</td>
        </tr>
        <tr>
          <td>Row 17</td>
          <td>Row 17</td>
          <td>Row 17</td>
        </tr>
        <tr>
          <td>Row 18</td>
          <td>Row 18</td>
          <td>Row 18</td>
        </tr>
        <tr>
          <td>Row 19</td>
          <td>Row 19</td>
          <td>Row 19</td>
        </tr>
        <tr>
          <td>Row 20</td>
          <td>Row 20</td>
          <td>Row 20</td>
        </tr>
        <tr>
          <td>Row 21</td>
          <td>Row 21</td>
          <td>Row 21</td>
        </tr>
        <tr>
          <td>Row 22</td>
          <td>Row 22</td>
          <td>Row 22</td>
        </tr>
        <tr>
          <td>Row 23</td>
          <td>Row 23</td>
          <td>Row 23</td>
        </tr>
        <tr>
          <td>Row 24</td>
          <td>Row 24</td>
          <td>Row 24</td>
        </tr>
        <tr>
          <td>Row 25</td>
          <td>Row 25</td>
          <td>Row 25</td>
        </tr>
        <tr>
          <td>Row 26</td>
          <td>Row 26</td>
          <td>Row 26</td>
        </tr>
        <tr>
          <td>Row 27</td>
          <td>Row 27</td>
          <td>Row 27</td>
        </tr>
        <tr>
          <td>Row 28</td>
          <td>Row 28</td>
          <td>Row 28</td>
        </tr>
        <tr>
          <td>Row 29</td>
          <td>Row 29</td>
          <td>Row 29</td>
        </tr>
        <tr>
          <td>Row 30</td>
          <td>Row 30</td>
          <td>Row 30</td>
        </tr>
        <tr>
          <td>Row 31</td>
          <td>Row 31</td>
          <td>Row 31</td>
        </tr>
        <tr>
          <td>Row 32</td>
          <td>Row 32</td>
          <td>Row 32</td>
        </tr>
        <tr>
          <td>Row 33</td>
          <td>Row 33</td>
          <td>Row 33</td>
        </tr>
        <tr>
          <td>Row 34</td>
          <td>Row 34</td>
          <td>Row 34</td>
        </tr>
        <tr>
          <td>Row 35</td>
          <td>Row 35</td>
          <td>Row 35</td>
        </tr>
        <tr>
          <td>Row 36</td>
          <td>Row 36</td>
          <td>Row 36</td>
        </tr>
        <tr>
          <td>Row 37</td>
          <td>Row 37</td>
          <td>Row 37</td>
        </tr>
        <tr>
          <td>Row 38</td>
          <td>Row 38</td>
          <td>Row 38</td>
        </tr>
        <tr>
          <td>Row 39</td>
          <td>Row 39</td>
          <td>Row 39</td>
        </tr>
        <tr>
          <td>Row 40</td>
          <td>Row 40</td>
          <td>Row 40</td>
        </tr>
        <tr>
          <td>Row 41</td>
          <td>Row 41</td>
          <td>Row 41</td>
        </tr>
        <tr>
          <td>Row 42</td>
          <td>Row 42</td>
          <td>Row 42</td>
        </tr>
        <tr>
          <td>Row 43</td>
          <td>Row 43</td>
          <td>Row 43</td>
        </tr>
        <tr>
          <td>Row 44</td>
          <td>Row 44</td>
          <td>Row 44</td>
        </tr>
        <tr>
          <td>Row 45</td>
          <td>Row 45</td>
          <td>Row 45</td>
        </tr>
        <tr>
          <td>Row 46</td>
          <td>Row 46</td>
          <td>Row 46</td>
        </tr>
        <tr>
          <td>Row 47</td>
          <td>Row 47</td>
          <td>Row 47</td>
        </tr>
        <tr>
          <td>Row 48</td>
          <td>Row 48</td>
          <td>Row 48</td>
        </tr>
        <tr>
          <td>Row 49</td>
          <td>Row 49</td>
          <td>Row 49</td>
        </tr>
        <tr>
          <td>Row 50</td>
          <td>Row 50</td>
          <td>Row 50</td>
        </tr>
        <tr>
          <td>Row 51</td>
          <td>Row 51</td>
          <td>Row 51</td>
        </tr>
        <tr>
          <td>Row 52</td>
          <td>Row 52</td>
          <td>Row 52</td>
        </tr>
        <tr>
          <td>Row 53</td>
          <td>Row 53</td>
          <td>Row 53</td>
        </tr>
        <tr>
          <td>Row 54</td>
          <td>Row 54</td>
          <td>Row 54</td>
        </tr>
        <tr>
          <td>Row 55</td>
          <td>Row 55</td>
          <td>Row 55</td>
        </tr>
        <tr>
          <td>Row 56</td>
          <td>Row 56</td>
          <td>Row 56</td>
        </tr>
        <tr>
          <td>Row 57</td>
          <td>Row 57</td>
          <td>Row 57</td>
        </tr>
        <tr>
          <td>Row 58</td>
          <td>Row 58</td>
          <td>Row 58</td>
        </tr>
        <tr>
          <td>Row 59</td>
          <td>Row 59</td>
          <td>Row 59</td>
        </tr>
        <tr>
          <td>Row 60</td>
          <td>Row 60</td>
          <td>Row 60</td>
        </tr>
        <tr>
          <td>fsgfgdfgfg</td>
          <td>fsgfgdfgfg</td>
          <td>fsgfgdfgfg</td>
        </tr>
        <tr>
          <td>Row 2</td>
          <td>Row 2</td>
          <td>Row 2</td>
        </tr>
        <tr>
          <td>Row 3</td>
          <td>Row 3</td>
          <td>Row 3</td>
        </tr>
        <tr>
          <td>Row 4</td>
          <td>Row 4</td>
          <td>Row 4</td>
        </tr>
        <tr>
          <td>Row 5</td>
          <td>Row 5</td>
          <td>Row 5</td>
        </tr>
        <tr>
          <td>Row 6</td>
          <td>Row 6</td>
          <td>Row 6</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
